{
    email admin@miarridlo.sch.id
}

cbtapp.miarridlo.sch.id {
    root * /app/public
    encode gzip
    
    # Proxy WebSocket Reverb
    @websockets {
        header Connection *Upgrade*
        header Upgrade    websocket
    }
    reverse_proxy @websockets reverb:8080

    # PHP Application
    try_files {path} /index.php
    php_server
}